<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.rental.mapper.CorprateCouponMapper">

    <resultMap type="com.car.rental.pojo.CorprateCouponPojo" id="corprateCouponPojoMap">
        <result property="couponId" column="COUPON_ID"/>
        <result property="name" column="NAME"/>
        <result property="discount" column="DISCOUNT"/>
    </resultMap>
    <insert id="individualCoupon">
        INSERT INTO car_rental.corporate_coupon
            (COUPON_ID, NAME, DISCOUNT)
        VALUES(#{couponId}, "1",#{discount});
    </insert>
    <select id="selectDiscount" resultMap="corprateCouponPojoMap">
        select * from corporate_coupon ic left join coupon c on ic.COUPON_ID = c.COUPON_ID
        where 1 = 1
        <if test="serviceId!=null and serviceId!=''">
            and  c.SERVICE_ID =#{serviceId}
        </if>
    </select>


</mapper>